
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	background-color: #191919;
	font-family: 'Lato', sans-serif;
	color: white;
	user-select: none;
}

.day {
	width: 19%;
	height: 255px;
	float: left;
	background-color: #3b3740;
	margin-left: 5px;
	border-bottom: 4px solid #ef127f;
	transition: all .25s ease;
	position: relative;
	bottom: -85px;
	opacity: 0;
}

.day1 {
	animation: dayPanel .65s ease-in-out 1 forwards;
}

.day2 {
	animation: dayPanel .65s ease-in-out 1 forwards;
	animation-delay: .2s;
}

.day3 {
	animation: dayPanel .65s ease-in-out 1 forwards;
	animation-delay: .3s;
}

.day4 {
	animation: dayPanel .65s ease-in-out 1 forwards;
	animation-delay: .4s;
}

.day5 {
	animation: dayPanel .65s ease-in-out 1 forwards;
	animation-delay: .5s;
}


@keyframes dayPanel {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
		bottom: 0px;
	}
}


#forecast {
	box-sizing: border-box;
	width: 95%;
	margin: 0 auto;
	margin-top: 15%;
	height: 250px;
}

.day svg {
	display: block;
	width: 75px;
	height: 75px;
	fill: white;
	margin: 0 auto;
	position: relative;
	bottom: 55px;
}

#currentWeather {
	width: 50%;
	margin: 0 auto;
	height: 300px;
}

#currentWeather svg {
	display: block;
	width: 155px;
	height: auto;
	fill: white;
	margin: 0 auto;
	margin-top: 5%;
	animation: fadeIn 4s ease 1;
	animation-fill-mode: forwards;
}


@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

svg{
	padding: 55px;
}

.bolt1 {
	animation: thunderClap1 ease-in-out 2.2s infinite;
	transform: translateY(-50px);
}

.bolt2{
	animation: thunderClap1 ease-in-out 2.2s infinite;
	animation-delay: .5s;
	transform: translateY(25px);
}

.cloud{
	animation: cloudBreath 2s ease infinite;
}

.cloud2{
	animation: cloudBreath 2.35s ease infinite;
}

.rainDrop {
	transform: translateY(63px);
	transform: translateX(-9px);
}

.drop1 {
	animation: rain 1.52s ease infinite;
}

.drop2 {
	animation: rain .8s ease infinite;
}

.drop3 {
	animation: rain 3.35s ease infinite;
}

.drop4 {
	animation: rain 1.22s ease infinite;
}

.drop5 {
	animation: rain 2.22s ease infinite;
}

.drop6 {
	animation: rain 1.12s ease infinite;
}

.drop7 {
	animation: rain 1.82s ease infinite;
}

.drop8 {
	animation: rain 1.52s ease infinite;
}

.drop9 {
	animation: rain 1.01s ease infinite;
}

.night-clear {
	animation: moon 4.01s ease infinite;
}

.sun-clear {
	animation: sun 2.45s ease infinite;
}

.star {
	animation: star-fade 5.02s ease infinite;
}

.star2 {
	animation: star-fade 5.02s ease infinite;
	animation-delay: 1.02s;
}

.cir1 {
	animation: star-fade 8.52s ease infinite;
	animation-delay: .25s;
}

.cir2 {
	animation: star-fade 4.52s ease infinite;
	animation-delay: .35s;
}

.cir3 {
	animation: star-fade 6.52s ease infinite;
	animation-delay: .05;
}

.cir4 {
	animation: star-fade 4.52s ease infinite;
	animation-delay: .45s;
}

.cir5 {
	animation: star-fade 4.52s ease infinite;
	animation-delay: .45s;
}

.sunScale {
	animation: sun-scale 3.52s ease infinite;
	transform-origin: center;
}

@keyframes star-fade {
	0%{
		opacity: 1;
	}

	75%{
		opacity: .2;
	}

	100%{
		opacity: 1;
	}
}


@keyframes moon{
	0%{
		transform: scale(1.175);
		opacity: 1;
	}
	25%{
		opacity: .85;
	}

	50%{
		transform: scale(1.2);
		opacity: .76;
	}

	100%{
		transform: scale(1.175);
		opacity: 1;
	}
}

@keyframes sun {
	0%{
		transform-origin: center;
		transform: scale(1.275) rotate(180deg);
		opacity: 1;
	}
	25%{
		opacity: .85;
	}

	50%{
		transform: scale(1.2);
		opacity: .76;
	}

	100%{
		transform: scale(1.275) rotate(360deg);
		opacity: 1;
	}
}

@keyframes sun-scale {
	0%{
		transform: scale(1);
	}
	55%{
		transform: scale(1.32);
	}
	100%{
		transform: scale(1);
	}
}



@keyframes rain {
	0%{
		opacity: 0;
	}

	32%{
		opacity: 1;
	}

	41%{
		opacity: .55;
	}

	100%{
		opacity: 0;
		transform: translateX(-25px) translateY(170px);
	}
}

@keyframes cloudBreath{
	0%{
		transform: scale(1.12);
	}
	50%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(1.12);
	}
}

@keyframes thunderClap1 {
	0%, 31%, 35%, 40%{
		opacity: 0;
	}

	32%{
		opacity: 1;
	}

	41%{
		opacity: .55;
	}
	100%{
		opacity: 0;
		transform: translateX(50px);
		transform: translateY(70px);
	}
}

.snowflake1, .snowflake2, .snowflake3 {
	animation: snowflake 3s ease infinite;
	transform-origin: center;
}

  
.snowflake3 {
	animation: snowflake 3s ease infinite;
    animation-delay: .34s;
	transform-origin: center;
}
  
 .snowflake2 {
	animation: snowflake 3s ease infinite;
  animation-delay: .48s;
	transform-origin: center;
}

h2 {
	text-align: center;
	text-transform: uppercase;
	color: #ef127f;
}

h2.large {
	font-size: 1.65em;
	letter-spacing: .225em;
}

h2 span {
	color: white;
}

h3.dailyCondition {
	text-align: center;
	color: #d7d1d4;
}

h3.dailyTemp {
	text-align: center;
	color: #181718;
}

h3.dailyDay{
	text-align: center;
	color: #181718;
}

@keyframes snowflake {
	0%{
		transform: rotate(180deg);
	}

	95% {
		transform: rotate(395deg) translate(130px, 120px) scale(.69);
	}
  100%{
    opacity: 0;
  }
}


@media only screen and (max-width : 940px){
	.day {
		float: none;
		width: 62%;
		height: 225px;
		margin: 0 auto;
		padding: 4px;
		margin-top: 12px;
	}

	.day svg {
		bottom: 71px;
	}

	.day1 {
		margin-top: 25%;
	}
}
